<div class="col-xs-12">
  <h3><%= firm.name %></h3>
  <p><%= firm.description %></p>
  <% if firm.photo? %>
    <%= cl_image_tag firm.photo.path, width: 200, height: 300, crop: :fill %>
  <% end %>
</div>



