<div class="nested-fields form-inputs">
  <div class="form-inline">
    <p>Latitude</p>
    <div id="lat"></div>
    <p>Longitude</p>
    <div id="lng"></div>
  </div>
  <%= f.input :address, placeholder: "Adresse détaillée", label: false, input_html: { id: 'address'}, required: true, autofocus: true %>

</div>
