<div class="container">
  <div><%= current_user.email %></div>
  <h2>Mes adresses personnelles</h2>
  <div class="row">
    <div id="personal_locations">
      <% @personal_locations.each do |location| %>
        <div>
          <%= render 'locations/show', location: location %>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <%= link_to "Ajouter une adresse", new_location_path, remote: true %>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div id="new_location"></div>
    </div>
    <div class="col-sm-6">
      <div id='location_map' style='width: 600px; height: 300px;'></div>
    </div>
  </div>
</div>




