<h1>Les petits marchés du coin</h1>

<div id='map' style='width: 1200px; height: 600px;'></div>

<% content_for :after_js do %>
  <script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoic2RlY291cmNlbCIsImEiOiJjajFnOWVudHgwMDA5MzJsZ2Z0bmk1eW96In0.ZOJPFawSZnbpJC3JilwkYg';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v9',
        center: [-0.560759, 44.859291],
        zoom: 13,
        hash: true
    });

    map.on('load', function(e) {
  // Add the data to your map as a layer
      map.addLayer({
        id: 'basket_locations',
        type: 'symbol',
        // Add a GeoJSON source containing place coordinates and information.
        source: {
          type: 'geojson',
          data: <%= raw @geojson_baskets.to_json %>
        },
        layout: {
          'icon-image': 'shop-15', //'/assets/images/marche_noun_627752_cc',
          'icon-allow-overlap': true,
        }
      });
      map.addLayer({
        id: 'market_locations',
        type: 'symbol',
        // Add a GeoJSON source containing place coordinates and information.
        source: {
          type: 'geojson',
          data: <%= raw @geojson_markets.to_json %>
        },
        layout: {
          'icon-image': 'theatre-15', //'/assets/images/marche_noun_627752_cc',
          'icon-allow-overlap': true,
        }
      });
    });

  </script>

<% end %>


