
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Les petits marchés du coin</h1>

      <div id='map' style='width: 1200px; height: 600px;'></div>
    </div>
  </div>
</div>


<% content_for :after_js do %>
  <script>
    mapboxgl.accessToken = '<%= ENV['MAPBOX_API_KEY'] %>';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v9',
        center: [-0.560759, 44.859291],
        zoom: 13,
        hash: true
    });

    map.on('load', function(e) {
  // Add the data to your map as a layer
      map.addLayer({
        id: 'basket_locations',
        type: 'symbol',
        // Add a GeoJSON source containing place coordinates and information.
        source: {
          type: 'geojson',
          data: <%= raw @geojson_baskets.to_json %>
        },
        layout: {
          'icon-image': 'shop-15', //'/assets/images/marche_noun_627752_cc',
          'icon-allow-overlap': true,
        }
      });
      map.addLayer({
        id: 'market_locations',
        type: 'symbol',
        // Add a GeoJSON source containing place coordinates and information.
        source: {
          type: 'geojson',
          data: <%= raw @geojson_markets.to_json %>
        },
        layout: {
          'icon-image': 'theatre-15', //'/assets/images/marche_noun_627752_cc',
          'icon-allow-overlap': true,
        }
      });

      // User Geolocation
      var user_location = geoCodeUser();
      console.log(user_location);
      if (user_location === undefined)
        { user_location = 'Rechercher une adresse'}


      // Search address control
      map.addControl(new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        placeholder: user_location
      }));

      // User Geolocation Button
      map.addControl(new mapboxgl.GeolocateControl({
        positionOptions: {
            enableHighAccuracy: true
        }
      }));

      // Navigation controls
      var nav = new mapboxgl.NavigationControl();
      map.addControl(nav, 'top-left');

      // Scale control
      map.addControl(new mapboxgl.ScaleControl({
          maxWidth: 80,
          unit: 'meter'
      }));
    });


  </script>
<% end %>


