<div class="container">

  <!--  Current user identity -->
  <div><%= current_user.email %></div>

  <!--  Add a new firm/market/personal address -->
  <div>
    <%= link_to "Ajouter une entreprise", new_firm_path, remote: true %>
  </div>

  <h2>Mes entreprises</h2>
  <div id="firms">
    <div class="row">
      <div>
        <%= render partial: 'firms/firm', collection: @firms, as: :firm %>
      </div>
    </div>
  </div>
  <!--  New firm form -->
  <div class="row">
    <div class="col-sm-6">
      <div id="new_firm"></div>
    </div>
  </div>
</div>

