<div class="container">

  <!--  Current user identity -->
  <div><%= current_user.email %></div>

  <!--  Add a new firm/market/personal address -->
  <div>
    <%= link_to "Ajouter une entreprise", new_firm_path, remote: true %>
  </div>

  <!--  Personal addresses -->
  <h2>Mes entreprises</h2>
  <div>
    <%= render partial: 'firms/firm', collection: @firms, as: :firm %>
  </div>
</div>
