<div class="col-sm-6">
  <h3><%= location.name %></h3>
  <p><%= location.address %></p>
</div>
<!--  With map -->
<div class="col-sm-6">
  <div class='static_location_map' style='width: 400px; height: 200px;'></div>
</div>
