<div class="form-inline">
  <p>Latitude</p>
  <div id="lat"></div>
  <p>Longitude</p>
  <div id="lng"></div>
</div>
<%= f.input :address, placeholder: "Adresse détaillée", label: false, required: true, autofocus: true,
    input_html: { id: 'address'} %>




